<nav class="m-2 bg-neutral-950">
  <div class="flex items-center">

    <!-- Brand -->
    <a routerLink="/" class="flex items-center">
      <span class="self-center text-xl whitespace-nowrap pl-4 pt-1"></span>
    </a>

    <!-- Menu -->
    <div class="ml-auto flex order-2 justify-end">
      <ul class="font-medium flex">
        <li class="h-8 w-8 bg-neutral-800 hover:bg-neutral-600">
          <a routerLink="/" class="inline-flex text-center items-center justify-center leading-none w-full h-full pr-1.5">
            
          </a>
        </li>
        <li class="h-8 w-8 bg-neutral-800 hover:bg-neutral-600">
          <a routerLink="/project-list"
            class="inline-flex text-center items-center justify-center leading-none w-full h-full pr-1">
            
          </a>
        </li>
        <li class="h-8 w-8 bg-neutral-800 hover:bg-neutral-600">
          <a routerLink="/about-us"
            class="inline-flex text-center items-center justify-center leading-none w-full h-full pr-1.5">
            󰆎
          </a>
        </li>
        <li class="h-8 w-10 bg-neutral-600 hover:bg-neutral-500 ">
          <button class="inline-flex pt-1.5 items-center justify-center leading-none w-full h-full">
            EN
          </button>
        </li>
      </ul>
    </div>

  </div>
</nav>