<section class="bg-black text-neutral-100">
    <div class="max-w-screen-xl mx-auto px-6 py-12 font-['courier-prime',monospace]">
        <pre class="m-0 overflow-x-auto text-[10px] leading-tight sm:text-xs md:text-sm whitespace-pre">
                        /$$
                        | $$
 /$$  /$$  /$$  /$$$$$$ | $$  /$$$$$$$  /$$$$$$  /$$$$$$/$$$$   /$$$$$$
| $$ | $$ | $$ /$$__  $$| $$ /$$_____/ /$$__  $$| $$_  $$_  $$ /$$__  $$
| $$ | $$ | $$| $$$$$$$$| $$| $$      | $$  \ $$| $$ \ $$ \ $$| $$$$$$$$
| $$ | $$ | $$| $$_____/| $$| $$      | $$  | $$| $$ | $$ | $$| $$_____/
|  $$$$$/$$$$/|  $$$$$$$| $$|  $$$$$$$|  $$$$$$/| $$ | $$ | $$|  $$$$$$$
 \_____/\___/  \_______/|__/ \_______/ \______/ |__/ |__/ |__/ \_______/
        </pre>

        <p class="mt-4">welcome to my personal website, feel free to look around.</p>
        
        <p class="">
          explore my projects, learn more about my background, or get in touch. Use the navigation in the top right corner to dig around.
        </p>
    </div>
</section>
